# Mac
.DS_Store
._.DS_Store

# Vagrant
.vagrant
puphpet/files/dot/ssh/id_rsa
puphpet/files/dot/ssh/id_rsa.pem
puphpet/files/dot/ssh/id_rsa.ppk
puphpet/files/dot/ssh/id_rsa.pub
puphpet/puppet/modules

# PhpStorm
.idea

# Matyotools
node/MatyoTools/node_modules

# Youtube
python/youtube/dl

# Beautifier
php/Beautifier/test.beautified.php
php/Beautifier/test.beautifier.log

# CS-Fixer
php/CS-Fixer/vendor

# Harvest
php/Harvest/web/bundles/
php/Harvest/app/bootstrap.php.cache
php/Harvest/app/config/parameters.yml
php/Harvest/app/cache/*
php/Harvest/app/logs/*
php/Harvest/build/
php/Harvest/vendor

# SearchReplace
php/SearchReplace/tests
php/SearchReplace/vendor
