# Mac
.DS_Store
._.DS_Store

# Vagrant
.vagrant
puphpet/files/dot/ssh/id_rsa
puphpet/files/dot/ssh/id_rsa.pem
puphpet/files/dot/ssh/id_rsa.ppk
puphpet/files/dot/ssh/id_rsa.pub
puphpet/puppet/modules

# PhpStorm
.idea

# Matyotools
node/MatyoTools/node_modules

# Youtube
python/youtube/dl

# Beautifier
php/Beautifier/test.beautified.php
php/Beautifier/test.beautifier.log

# CS-Fixer
php/CS-Fixer/vendor

# Harvest
php/Harvest/web/bundles/
php/Harvest/app/bootstrap.php.cache
php/Harvest/app/config/parameters.yml
php/Harvest/app/cache/*
php/Harvest/app/logs/*
php/Harvest/build/
php/Harvest/vendor/

# Hipchat
php/Hipchat/web/bundles/
php/Hipchat/app/bootstrap.php.cache
php/Hipchat/app/config/parameters.yml
php/Hipchat/app/cache/*
php/Hipchat/app/logs/*
php/Hipchat/build/
php/Hipchat/vendor/

# HeartBreaker
php/HeartBreaker/app/bootstrap.php.cache
php/HeartBreaker/app/cache/*
php/HeartBreaker!app/cache/.gitkeep
php/HeartBreaker/app/config/parameters.yml
php/HeartBreaker/app/logs/*
php/HeartBreaker!app/logs/.gitkeep
php/HeartBreaker/app/phpunit.xml
php/HeartBreaker/bin/
php/HeartBreaker/composer.phar
php/HeartBreaker/vendor/
php/HeartBreaker/web/bundles/


# SearchReplace
php/SearchReplace/tests
php/SearchReplace/vendor
