# Mac
.DS_Store
._.DS_Store

# Vagrant
.vagrant
puphpet/files/dot/ssh/id_rsa
puphpet/files/dot/ssh/id_rsa.pem
puphpet/files/dot/ssh/id_rsa.ppk
puphpet/files/dot/ssh/id_rsa.pub
puphpet/files/dot/ssh/root_id_rsa
puphpet/files/dot/ssh/root_id_rsa.pem
puphpet/files/dot/ssh/root_id_rsa.ppk
puphpet/files/dot/ssh/root_id_rsa.pub

# PhpStorm
.idea

# Node
node_modules

# Matyotools
node/MatyoTools/node_modules

# Youtube
python/youtube/dl

# Beautifier
php/Beautifier/test.beautified.php
php/Beautifier/test.beautifier.log

# CS-Fixer
php/CS-Fixer/vendor

# Harvest
php/Harvest/web/bundles/
php/Harvest/app/bootstrap.php.cache
php/Harvest/app/config/parameters.yml
php/Harvest/app/cache/*
php/Harvest/app/logs/*
php/Harvest/build/
php/Harvest/vendor/
php/Harvest/domino/reports
php/Harvest/domino/tests/*.gen.js

# Hipchat
php/Hipchat/web/bundles/
php/Hipchat/app/bootstrap.php.cache
php/Hipchat/app/config/parameters.yml
php/Hipchat/app/cache/*
php/Hipchat/app/logs/*
php/Hipchat/build/
php/Hipchat/vendor/

# HeartBreaker
php/HeartBreaker/.cache
php/HeartBreaker/app/bootstrap.php.cache
php/HeartBreaker/app/cache/*
php/HeartBreaker/app/config/parameters.yml
php/HeartBreaker/app/logs/*
php/HeartBreaker/app/phpunit.xml
php/HeartBreaker/composer.phar
php/HeartBreaker/vendor/
php/HeartBreaker/web/bundles/
php/HeartBreaker/web/media/
php/HeartBreaker/phpMemcachedAdmin

# SocialNetwork
php/SocialNetwork/web/bundles/
php/SocialNetwork/app/bootstrap.php.cache
php/SocialNetwork/app/config/parameters.yml
php/SocialNetwork/var/cache/*
php/SocialNetwork/var/logs/*
php/SocialNetwork/build/
php/SocialNetwork/vendor/
php/SocialNetwork/domino/reports
php/SocialNetwork/domino/tests/*.gen.js

# Botman
php/Botman/vendor/

# SearchReplace
php/SearchReplace/tests
php/SearchReplace/vendor
