<?php

$configs = [
    'bigyouth' => [
         'slack_token' => 'YOUR-SLACK-BOT-TOKEN'
    ],
    'makheia' => [
         'slack_token' => 'YOUR-SLACK-BOT-TOKEN'
    ],
    'symfony-devs' => [
         'slack_token' => 'YOUR-SLACK-BOT-TOKEN'
    ],
];